::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
}

#page {
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#nav-bar-left {
    width: 150px;
    height: 100vh;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 0px;
    text-overflow: clip;
}

.side-nav-ul {
    width: 100%;
    margin-left: 0;
    list-style: none;
    font-size: 0.85em;
    text-align: center;
    height: 100vh;
}

.side-nav-ul li a {
    width: 100%;
    height: 3em;
    color: #FFFFFF;
    display: block;
    overflow: hidden;
    line-height: 3em;
}

.side-nav-ul li a:hover, #back-button:hover {
    background-color: #e46a68;
}

#back-button {
    background-color: #6e6e6e;
}

#content {
    overflow: hidden;
    height: 100vh;
}

.stream-container {
    height: 100%;
    position: relative;
}

.iframe-click-blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
}