@import 'variables.scss';
@import 'mixins.scss';

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;

  & > .pure-g {
    flex-grow: 1;
  }
}

.toggle-column {
  position: absolute;
  width: 2rem;
  height: 2rem;
  visibility: visible;
  background-color: yellow;
  z-index: 999;
}

.left-col {
  width: 150px;
  height: 100%;
  background-color: orange;
  flex-grow: 0;
  position: relative;
  .toggle-column {
    top: 0;
    right: 0;
  }
  &.ng-hide:not(.ng-hide-animate) {
    display: initial !important;
    width: 0;
    visibility: hidden;
    .toggle-column {
      display: block !important;
      top: 0;
      right: 0;
      transform: translateX(100%);
    }
  }
}

.right-col {
  flex-grow: 1;
  display: flex;
  height: 100%;
}

.streams {
  flex-grow: 4;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.stream {
  width: 50%;
  position: relative;
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $chat-width;
  .toggle-column {
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
  &.ng-hide:not(.ng-hide-animate) {
    display: initial !important;
    width: 0;
    visibility: hidden;
    .toggle-column {
      display: block !important;
      top: 0;
      left: 0;
    }
  }
}

.active-stream {
  background-color: blue;
  flex-grow: 4;
}

.alternate-streams {
  background-color: purple;
  position: relative;
  flex-grow: 1;
  .toggle-column {
    top: 0;
    left: 50%;
    transform: translateY(-100%);
  }
}

.active-chat {
  background-color: green;
  flex-grow: 4;
}

.chat-selector {
  background-color: tomato;
  flex-grow: 1;
}