/*
@media screen and (min-width: 35.5em) sm
@media screen and (min-width: 48em) md
@media screen and (min-width: 64em) lg
@media screen and (min-width: 80em) xl
*/

$sm-breakpoint: 35.5em;
$md-breakpoint: 48em;
$lg-breakpoint: 64em;
$xl-breakpoint: 80em;

$menu-width: 150px;
$chat-width: 340px;