<!doctype html>
<html ng-app="multiTwitchApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MultiTwitch</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-min.css">
    <link rel="stylesheet" href="css/multitwitch.css">
</head>

<body>

<!-- begin left menu -->
<div class="left-col" ng-show="menuVisible" ng-controller="MenuController">
    <span ng-click="selectDetailView('games')">Games</span>
    <ul ng-show="detailView === 'games'">
        <li ng-repeat="game in gameData.top" ng-click="getStreamData(game.game)">
            {{game.game.name}}
        </li>
    </ul>
    <span ng-click="selectDetailView('streams')">Streams</span>
    <ul ng-show="detailView === 'streams'">
        <li ng-repeat="stream in streamData.streams"
            ng-click="addStream(stream)">
            {{stream.channel.name}}
        </li>
    </ul>
    <a class="toggle-column" ng-click="toggleMenu()"></a>
</div>
<!-- end left menu -->


<!-- begin main content -->
<div class="right-col">
    <div class="streams" ng-controller="StreamController">
        <div ng-repeat="stream in streams" class="stream" ng-style="streamHeight($index)">
            <twitch width="100%" height="100%" channel={{stream.channel.name}}></twitch>
        </div>
        <!--
        TODO
        for now just treat all streams equally
        <div class="active-stream">

        </div>
        <div class="alternate-streams">

            <a class="toggle-column"></a>

        </div>
        -->
    </div>
    <div class="chat" ng-show="chatVisible" ng-controller="ChatController">
        <div class="active-chat">
            <!-- the active chat window goes in here -->
        </div>
        <div class="chat-selector">
            <!-- the chat selector box goes in here -->
        </div>
        <a class="toggle-column" ng-click="toggleChat()"></a>
    </div>
    <!--
    <div class="stream-container" ng-if="activeStreams.length > 0" ng-repeat="stream in activeStreams">
        <iframe id="player" type="text/html" width="100%" height="100%"
                ng-src="{{stream.channel.url + '/embed' | trusted}}" frameborder="0">
            {{stream.channel.url}}
        </iframe>
    </div>
    -->
</div>
<!--end main content -->

</body>
<script src="bower_components/angularjs-media/app/lib/angularjs.media.directives.js"></script>
<script src="js/app.js"></script>
</html>
